<!DOCTYPE html>
<html>

<head>
  <title>music player</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/listening_style.css">
</head>

<body>
  <div class="main">
    <!-- <p id="logo"><i class="fa fa-music"></i>Music</p> -->
    <div id="logo" class="ms-5">
      <a class="navbar-brand" href="/">
        <img
          src="../images/chill_logo.png"
          alt=""
          width="70"
          height="70"
          class="rounded-circle img-fluid"
        /><strong style="color:white;"> ChillnFree</strong>
      </a>
    </div>
    <!-- show_song_number -->
    <div class="show_song_no">
      <p id="present" style="margin-top: 15px;"></p>
      <p>/</p>
      <p id="total" style="margin-top: 15px;"></p>
    </div>

    <!--- center part --->
    <div class="center">
      <!--- song img --->
      <div id="track">
        <img id="track_image">
        <div class="volume">
          <p id="volume_show">50</p>
          <i class="fa fa-volume-up" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>
          <input type="range" min="0" max="100" value="50" onchange="volume_change()" id="volume">
        </div>
        <div class="song_detail">
          <p id="title">title.mp3</p>
          <p id="artist">Artist name</p>
        </div>
      </div>

      <div id="Pomodoro">
        <div id="circle">
          <div id="button-timer">
            <button id="btn1" type="button" class="btn btn-primary">Pomodoro</button>
            <button id="btn2" type="button" class="btn btn-secondary">Short Break</button>
            <button id="btn3" type="button" class="btn btn-success">Long break</button>
          </div>

          <div id="cirlce-graph">
            <svg width="430" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(110,110)">
                <circle r="100" class="e-c-base" />
                <g transform="rotate(-90)">
                  <circle r="100" class="e-c-progress" />
                  <g id="e-pointer">
                    <circle cx="100" cy="0" r="8" class="e-c-pointer" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="setters">
            <div class="minutes-set">
              <button data-setter="minutes-plus">+</button>
              <button data-setter="minutes-minus">-</button>
            </div>
            <div class="seconds-set">
              <button data-setter="seconds-plus">+</button>
              <button data-setter="seconds-minus">-</button>
            </div>
          </div>
          <div class="controlls">
            <div class="display-remain-time">00:30</div>
            <button class="play" id="pause"></button>
          </div>
        </div>

       
      </div>

    </div>

    <!--- bottom part --->
    <div class="bottom">
      <!--- song title & artist name --->
      

      <!--- middle part --->
      <div class="middle">
        <button onclick="previous_song()" id="pre"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
        <button onclick="justplay()" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
        <button onclick="next_song()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
        <button id="pomodoroTimer"><i class="fa fa-clock" aria-hidden="true"></i></button>
        <button class="play-list"><i class="fas fa-list"></i></button>
        
      </div>

      <!--- song duration part --->
      <div class="duration">
        <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()">
        <button id="auto" onclick="autoplay_switch()">Auto &nbsp;<i class="fa fa-circle-o-notch"
            aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="playlist-box">
      <div class="header">
        <button id="btn-go-home" class="button go-home">
          <i class="fas fa-chevron-left"></i>
        </button>
        <div class="text"><p>Playlist</p></div>    

        
          <div class="scrollbar" id="style-1">
            <div class="left">
              <div class="list-song"></div>
            </div>
            <div class="force-overflow"></div>
          </div>
    </div>
  </div>
  <!--- Add javascript file --->
  <script src="javascripts/listening_page.js"></script>
</body>

</html>