<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in - ChillnFree</title>
    <!-- Bootstrap -->
	<link href="css/bootstrap-4.4.1.css" rel="stylesheet">
	
  </head>
  <body style="background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;">
  	<!-- body code goes here -->
	 <nav class="navbar navbar-dark bg-dark"> 
            <a class="navbar-brand" href="">
    			<img src="1.png" alt="" width="70" height="70" class="rounded-circle img-fluid"><strong> ChillnFree</strong>
  			</a>
		 	<form action="">
		  		<button type="submit" class="btn btn-outline-light">Sign up</button>
			</form>
	</nav>
	<p></p>
  	<h3 align="center"><strong>To continue, sign in to ChillnFree</strong></h3>
	<div class="container">
     	<div class="text-center">
			<form method="" action="https://www.facebook.com/">
            	<button type="submit" class="btn btn-primary" style="width: 300px"><img src="fb.png" alt="" width="20" height="20" class="rounded-circle img-fluid"> <strong>CONTINUE WITH FACEBOOK</strong> </button>
			</form>
        </div>
		<p></p>
		<div class="text-center">
			<form method="get" action="https://www.google.com/">
           		<button type="submit" class="btn btn-secondary" style="width: 300px"><img src="gg.png" alt="" width="20" height="20" class="rounded-circle img-fluid"> <strong>CONTINUE WITH GOOGLE</strong> </button>
			</form>
		</div>
	</div>
	<h6 align="center"><strong>Or</strong></h6>
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 bg-light" style="border-top-right-radius: 7%;
            border-bottom-left-radius: 7%;
			border-top-left-radius: 7%;
            border-bottom-right-radius: 7%;">
				<form action="" method="">
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" name="id" id="email" >
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="pw" id="password">
					</div>
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
						<label for="remember-me" class="form-check-label">Remember me</label>
						<button type="submit" class="btn btn-outline-success float-right">Sign in</button>
					</div>
				</form>
				<p></p>
				<a href="">Forgot your password?</a>
				<p></p>
			</div>
		</div>
	</div>
	  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="js/jquery-3.4.1.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/popper.min.js"></script> 
  <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>